<html>
   <body>
      <H1>Hello, <%= name %></H1>
      var arr = <%= restaurant %>
      var holder = document.getElementById("holder");
      for(var i=0; i , arr.length; i++)
          holder.innerHTML += "<p>"+arr[i]+"</p><br>";
      <div id="holder"></div>
      <br>
   </body>
</html>
