<!DOCTYPE html>  
<html>
<head>
<title>Login</title>
</head>
<body>  
	<header class="w3-container w3-teal">
		<h1>Sign in/Sign up</h1>
	</header>
	<h2>Sign in</h2>
	<form action="/login" method="post" class="w3-container w3-card-2">
		User Name:</br><input name="logid" class="w3-input" type="text" style="width:10%" required=""></br>
		Password:</br><input name="password" class="w3-input" type="password" style="width:10%"></br>
		<button class="w3-btn w3-section w3-teal w3-ripple"> Sign in </button>
	</form></br></br>
	<h2>Sign up</h2>
	<form action="/register" method="post" class="w3-container w3-card-2">
		User Name:<br></br><input name="regid" class="w3-input" type="text" style="width:10%" required=""></br>
		Password:<br></br><input name="regpassword" class="w3-input" type="password" style="width:10%"></br>
		Confirm password:<br></br><input name="confirmpassword" class="w3-input" type="password" style="width:10%"></br>
		<button class="w3-btn w3-section w3-teal w3-ripple"> Sign up </button>
	</form>
</body>  
</html>  