<html>
   <body>
       <H1>Hello, <%= uname %></H1>
         <H1>
         <% resname.forEach((eachRestaurant) =>{ %>
          <%= eachRestaurant.name %> 
         <% }); %>  
         </H1>
   </body>
</html>
