<html>
   <body>
       <H1>Hello, <%= name %></H1>
      
            <% for(var rname of resname) { %>
                  <H1> <%= rname.resname %> </H1>
            <% } %>
       
   </body>
</html>
