<html>
   <body>
       <H1>Hello, <%= uname %></H1>
       <ul>
         <% resname.forEach(function(eachRestaurant){ %>
         <li> <%= eachRestaurant.name %> </li>
         <% }) %>
       </ul>    
   </body>
</html>
